# Зависимости
node_modules
/.pnp
.pnp.js

# Сборка и кэш Next.js
/.next/
/out/
/build/

# Логи
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Файлы окружения
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Временные файлы
*.log
*.pid
*.seed
*.pid.lock

# Кэш редакторов и IDE
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Кэш TypeScript
*.tsbuildinfo

# Кэш тестирования
/coverage

# Кэш Prettier и ESLint
.prettier-cache
.eslintcache

# Служебные файлы macOS
.DS_Store

# Опционально: игнорировать папку public для сгенерированных файлов
# /public/build

# Опционально: игнорировать локальные файлы конфигурации
*.local